<!--
 <div class="card meetings cf">
	<div class="textintro">
		<h1>Matches</h1>

		<p>Add something you dislike</p>
		<form name="myform" class="formgroup addmeeting cf" ng-submit="addMeeting()" novalidate>
			<div class="inputwrapper">
				<input type="text" name="meetingname" placeholder="What do you dislike?" ng-model="meetingname"
				       ng-required="true">
			</div>
			<button class="btn" type="submit" ng-disabled="myform.$invalid">+</button>
		</form>
	</div>
</div>

<br>
 -->

<div class="card meetings cf">
	<h2>Your Matches so far...</h2>
	<h4>{{matchesAlgo}}</h4>
	<div class="meeting" ng-repeat="(key,meeting) in meetings">
		<span>{{ meeting.name }}</span> &nbsp;
		                                <!-- delete meeting button -->
		<button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)">
			<span>Delete Match</span>
		</button>
		                                <!-- go2meeting btn -->
		
		                                <!-- view check ins list btn -->
		<a ng-href=""
		   class="btn btn-list tooltip">
			<span>view users</span>
		</a>
	</div>
</div>