<!--
 <div class="card meetings cf">
	<div class="textintro">
		<h1>Matches</h1>

		<p>Add something you dislike</p>
		<form name="myform" class="formgroup addmeeting cf" ng-submit="addMeeting()" novalidate>
			<div class="inputwrapper">
				<input type="text" name="meetingname" placeholder="What do you dislike?" ng-model="meetingname"
				       ng-required="true">
			</div>
			<button class="btn" type="submit" ng-disabled="myform.$invalid">+</button>
		</form>
	</div>
</div>

<br>
 -->

<div class="card meetings cf">
    <h2>Your Matches so far...</h2>
    <h4>Matches: </h4>

    <h1>
        <button data-ng-click="seeMatches()" style="padding: 20px; font-size: 24px; color: purple">See Matches</button>
    </h1>

    <ul>
        <li ng-repeat="match in matches">
              ~ {{match.user}} is a Grade {{match.grade}} match
        </li>
    </ul>

    <br> <hr>
    <h3>End of matches {{testBind}}</h3>
</div>